<!DOCTYPE html>

<app-navbar />

<app-alert-modal [alertModal]="alertModal" [(isClosed)]="isAlertModalClosed" />

<div
  class="min-h-screen min-w-full bg-gradient-to-br from-slate-400 to-indigo-100"
>
  <div class="p-10"></div>
  <div
    class="flex-col sm:w-2/3 sm:mx-auto mx-4 flex items-center justify-center rounded-xl bg-gray-200 shadow-lg p-10"
  >
    <div class="flex-col border-b border-stone-300 pb-5">
      <h1
        class="flex mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl space-x-4"
      >
        <span>Post your</span>
        <mark class="px-2 text-white bg-indigo-500 pb-3 rounded">Blog</mark>
      </h1>
      <p class="text-lg font-normal lg:text-xl text-gray-400">
        Add the required headers, tags and files to your blog.
        <span class="font-semibold font-serif"
          >(Note: Adding additional image attachments is optional)</span
        >
        <br />
        Blog Away!
      </p>
    </div>

    <div *ngIf="!isTagsDataLoaded" role="status" class="flex">
      <svg
        aria-hidden="true"
        class="flex size-20 text-gray-100 fill-indigo-600 animate-spin mx-auto mt-20"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>

    <form
      *ngIf="isTagsDataLoaded"
      [formGroup]="postBlogForm"
      (ngSubmit)="onPostBlogFormSubmitted()"
      class="flex-col mx-auto space-y-4 mt-4 w-full"
    >
      <!-- Header -->
      <div class="flex-col pb-6 border-b border-stone-300 space-y-2">
        <div class="flex py-2 my-2 ml-2">
          <svg
            class="size-10 fill-gray-500"
            viewBox="0 0 8 8"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 0v1h.5c.28 0 .5.22.5.5v4c0 .28-.22.5-.5.5H0v1h3V6h-.5c-.28 0-.5-.22-.5-.5V4h3v1.5c0 .28-.22.5-.5.5H4v1h3V6h-.5c-.28 0-.5-.22-.5-.5v-4c0-.28.22-.5.5-.5H7V0H4v1h.5c.28 0 .5.22.5.5V3H2V1.5c0-.28.22-.5.5-.5H3V0H0z"
            />
          </svg>
          <p class="ml-2 text-3xl font-light text-gray-700">Header</p>
        </div>
        <!-- Alert -->
        <div
          id="alert"
          *ngIf="!alertMessageGroup.header.isClosed"
          class="flex lg:w-1/3 md:w-1/2 items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:text-rose-600"
          role="alert"
        >
          <svg
            class="flex-shrink-0 w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <div class="ms-3 text-sm font-medium">
            {{ alertMessageGroup.header.message }}
          </div>
          <button
            type="button"
            (click)="alertMessageGroup.header.isClosed = true"
            class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:text-rose-600 dark:hover:bg-slate-50"
            aria-label="Close"
          >
            <span class="sr-only">Close</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>
        <!-- Input -->
        <input
          placeholder="Enter Header"
          class="px-4 py-3 bg-gray-100 focus:bg-slate-50 w-full outline-stone-700 rounded-md transition-all"
          formControlName="header"
        />
      </div>

      <!-- Description -->
      <div class="flex-col pb-6 border-b border-stone-300 space-y-2">
        <div class="flex py-2 my-2 ml-2">
          <svg
            class="size-10 fill-gray-500"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M256 42.667c117.822 0 213.333 95.511 213.333 213.333 0 117.82-95.511 213.333-213.333 213.333-117.82 0-213.333-95.513-213.333-213.333C42.667 138.178 138.18 42.667 256 42.667Zm21.38 192h-42.667v128h42.667v-128ZM256.217 144c-15.554 0-26.837 11.22-26.837 26.37 0 15.764 10.985 26.963 26.837 26.963 15.235 0 26.496-11.199 26.496-26.666 0-15.447-11.261-26.667-26.496-26.667Z"
              fill-rule="evenodd"
            />
          </svg>
          <p class="ml-2 text-3xl font-light text-gray-700">Description</p>
        </div>
        <!-- Alert -->
        <div
          id="alert"
          *ngIf="!alertMessageGroup.description.isClosed"
          class="flex lg:w-1/3 md:w-1/2 items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:text-rose-600"
          role="alert"
        >
          <svg
            class="flex-shrink-0 w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <div class="ms-3 text-sm font-medium">
            {{ alertMessageGroup.description.message }}
          </div>
          <button
            type="button"
            (click)="alertMessageGroup.description.isClosed = true"
            class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:text-rose-600 dark:hover:bg-slate-50"
            aria-label="Close"
          >
            <span class="sr-only">Close</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>
        <!-- Input -->
        <textarea
          placeholder="Enter Description"
          rows="3"
          class="px-4 py-3 bg-gray-100 focus:bg-slate-50 w-full outline-stone-700 rounded-md transition-all"
          formControlName="description"
        ></textarea>
      </div>

      <!-- Tags -->
      <div class="flex-col pb-6 border-b border-stone-300 space-y-6">
        <div class="flex py-2 my-2 ml-2">
          <svg
            class="size-10 stroke-gray-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.05 7.05h.01M10.512 3H7.8c-1.68 0-2.52 0-3.162.327a3 3 0 0 0-1.311 1.311C3 5.28 3 6.12 3 7.8v2.712c0 .733 0 1.1.083 1.446.073.306.195.598.36.867.185.303.444.562.963 1.08l4.7 4.7c1.188 1.189 1.782 1.783 2.467 2.005a3 3 0 0 0 1.854 0c.685-.222 1.28-.816 2.467-2.004l2.712-2.712c1.188-1.188 1.782-1.782 2.004-2.467a3 3 0 0 0 0-1.854c-.222-.685-.816-1.28-2.004-2.467l-4.7-4.7c-.519-.519-.778-.778-1.081-.964a3.001 3.001 0 0 0-.867-.36C11.612 3 11.245 3 10.512 3ZM7.55 7.05a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="ml-2 text-3xl font-light text-gray-700">Tags</p>
        </div>

        <!-- Alert Selected Tags -->
        <div
          id="alert"
          *ngIf="!alertMessageGroup.selectedTags.isClosed"
          class="flex lg:w-1/3 md:w-1/2 items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:text-rose-600"
          role="alert"
        >
          <svg
            class="flex-shrink-0 w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <div class="ms-3 text-sm font-medium">
            {{ alertMessageGroup.selectedTags.message }}
          </div>
          <button
            type="button"
            (click)="alertMessageGroup.selectedTags.isClosed = true"
            class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:text-rose-600 dark:hover:bg-slate-50"
            aria-label="Close"
          >
            <span class="sr-only">Close</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>

        <!-- Alert Primary Tag -->
        <div
          id="alert"
          *ngIf="!alertMessageGroup.primaryTag.isClosed"
          class="flex lg:w-1/3 md:w-1/2 items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:text-rose-600"
          role="alert"
        >
          <svg
            class="flex-shrink-0 w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <div class="ms-3 text-sm font-medium">
            {{ alertMessageGroup.primaryTag.message }}
          </div>
          <button
            type="button"
            (click)="alertMessageGroup.primaryTag.isClosed = true"
            class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:text-rose-600 dark:hover:bg-slate-50"
            aria-label="Close"
          >
            <span class="sr-only">Close</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>

        <!-- Selected Tags -->
        <div
          class="w-full bg-gradient-to-tr from-gray-300 to-slate-300 p-4 rounded-lg shadow-lg"
        >
          <div
            class="flex text-white font-light text-xl"
            *ngIf="!tagsBooleanArray.value.includes(true)"
          >
            Selected tags show up here
          </div>
          <div class="flex" *ngIf="tagsBooleanArray.value.includes(true)">
            <div
              class="flex"
              *ngFor="let tagControl of tagsBooleanArray.value; let i = index"
            >
              <span
                *ngIf="tagControl"
                class="flex items-center px-2 py-1 me-2 text-sm font-medium rounded-full"
                [ngStyle]="{
                  color: getRandomDarkColor(i),
                  'background-color': getRandomLightColor(i)
                }"
              >
                <div class="flex">
                  {{ allTags[i]["name"] }}
                </div>
                <button
                  (click)="onSelectedTagClose(i)"
                  type="button"
                  class="flex items-center p-1 ms-2 text-sm bg-transparent rounded-sm hover:bg-stone-100 hover:text-gray-900"
                  [ngStyle]="{
                    color: getRandomDarkColor(i)
                  }"
                >
                  <svg
                    class="w-2 h-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                    />
                  </svg>
                  <span class="sr-only">Remove badge</span>
                </button>
              </span>
            </div>
          </div>
        </div>

        <!-- DropDown Search -->
        <div class="z-10 bg-gray-100 rounded-lg shadow w-60">
          <div class="p-3">
            <label class="sr-only">Search</label>
            <div class="relative">
              <div
                class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 20"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                  />
                </svg>
              </div>
              <input
                type="text"
                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 outline-stone-700"
                placeholder="Search Tag"
                formControlName="searchTag"
              />
            </div>
          </div>
          <ul class="h-52 px-3 pb-3 overflow-y-auto text-sm text-gray-700">
            <div>
              <li
                *ngFor="let tag of filteredTags | async"
                class="border-b border-slate-200"
                formArrayName="tagsBooleanArray"
              >
                <div class="flex items-center ps-2 rounded hover:bg-stone-50">
                  <input
                    type="checkbox"
                    [formControlName]="tag['id']"
                    class="size-5 text-stone-600 bg-gray-100 border-gray-300 rounded-md"
                  />
                  <label
                    class="w-full py-2 ms-2 text-base font-medium text-gray-500 rounded"
                    >{{ tag["name"] }}</label
                  >
                </div>
              </li>
            </div>
          </ul>
        </div>

        <!-- Select Primary Tag -->
        <div class="w-60">
          <label
            id="listbox-label"
            class="block text-lg font-light pl-2 leading-6 text-gray-700"
            >Select Primary Tag</label
          >
          <div class="relative mt-2">
            <!-- Display Selected Tag -->
            <button
              (click)="
                isSelectPrimaryTagDropdownClosed =
                  !isSelectPrimaryTagDropdownClosed
              "
              type="button"
              class="relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6"
            >
              <span
                class="pl-1 block truncate h-6 text-base font-bold font-mono text-gray-800"
                >{{ primaryTag }}</span
              >
              <span
                class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2"
              >
                <svg
                  class="h-5 w-5 text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  data-slot="icon"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.53 3.47a.75.75 0 0 0-1.06 0L6.22 6.72a.75.75 0 0 0 1.06 1.06L10 5.06l2.72 2.72a.75.75 0 1 0 1.06-1.06l-3.25-3.25Zm-4.31 9.81 3.25 3.25a.75.75 0 0 0 1.06 0l3.25-3.25a.75.75 0 1 0-1.06-1.06L10 14.94l-2.72-2.72a.75.75 0 0 0-1.06 1.06Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </span>
            </button>
            <!-- Dropdown -->
            <ul
              class="{{
                isSelectPrimaryTagDropdownClosed
                  ? 'transition ease-in duration-100 opacity-0'
                  : 'opacity-100'
              }} absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-slate-100 py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
              tabindex="-1"
              role="listbox"
              aria-labelledby="listbox-label"
              aria-activedescendant="listbox-option-3"
            >
              <div
                class="flex-col"
                *ngFor="let tagControl of tagsBooleanArray.value; let i = index"
              >
                <li
                  *ngIf="tagControl"
                  (click)="onPrimaryTagSelected(i)"
                  class="relative cursor-default select-none justify-between p-2 text-gray-800 hover:bg-indigo-600 hover:text-white"
                  role="option"
                >
                  <div class="flex justify-between">
                    <span
                      class="{{
                        primaryTag === allTags[i]['name']
                          ? 'font-bold'
                          : 'font-normal'
                      }} ml-3 block truncate text-base"
                      >{{ allTags[i]["name"] }}</span
                    >
                    <span
                      *ngIf="primaryTag === allTags[i]['name']"
                      class="absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-600"
                    >
                      <svg
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <!-- Markdown File -->
      <div class="flex-col pb-6 border-b border-stone-300 space-y-5">
        <div class="flex py-2 my-2 ml-2">
          <svg
            class="size-12 stroke-gray-500"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 7h14M5 12h14M5 17h7"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="ml-2 pt-1 text-3xl font-light text-gray-700">Content</p>
        </div>

        <!-- Alert -->
        <div
          id="alert"
          *ngIf="!alertMessageGroup.markdownFile.isClosed"
          class="flex lg:w-1/3 md:w-1/2 items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:text-rose-600"
          role="alert"
        >
          <svg
            class="flex-shrink-0 w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <div class="ms-3 text-sm font-medium">
            {{ alertMessageGroup.markdownFile.message }}
          </div>
          <button
            type="button"
            (click)="alertMessageGroup.markdownFile.isClosed = true"
            class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:text-rose-600 dark:hover:bg-slate-50"
            aria-label="Close"
          >
            <span class="sr-only">Close</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>

        <!-- Markdown File Upload -->
        <div
          class="sm:flex sm:flex-row sm:space-x-4 space-y-4 flex-col items-center justify-center w-full"
        >
          <label
            for="file-import"
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100"
          >
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg
                class="w-8 h-8 mb-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 16"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                />
              </svg>
              <div class="flex-col" *ngIf="!markdown">
                <p class="mb-2 text-sm text-gray-500">
                  <span class="font-semibold">Click to upload</span> or drag and
                  drop
                </p>
                <p class="text-xs text-gray-500">.md or .mdx files only</p>
              </div>
              <div *ngIf="markdown">
                <p class="mb-2 text-sm text-gray-500 font-semibold">
                  {{ selectedMarkdownFile?.name }}
                </p>
              </div>
            </div>
            <input
              type="file"
              (change)="onMarkdownFileSelected($event)"
              id="file-import"
              class="hidden"
            />
          </label>
          <div class="flex w-1/3 items-center justify-center">
            <div
              (click)="onClickDeleteMarkdownFile()"
              class="inline-flex cursor-pointer px-4 py-2 text-base font-semibold leading-6 text-slate-200 whitespace-no-wrap bg-rose-700 border border-red-700 rounded-xl shadow-lg hover:bg-rose-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
            >
              Delete File
            </div>
          </div>
        </div>

        <!-- Preview of Uploaded Markdown File -->
        <div class="flex-col space-y-2">
          <div
            class="flex font-extralight text-2xl font-serif pl-2 text-stone-700"
          >
            Markdown Preview
          </div>
          <div
            class="w-full p-5 rounded-md bg-gradient-to-l from-zinc-100 to-gray-50 overflow-auto {{
              markdown ? 'h-96' : ''
            }}"
          >
            <div
              class="flex text-slate-500 p-2 font-light text-xl"
              *ngIf="!markdown"
            >
              Preview of the Uploaded file is displayed here
            </div>
            <markdown
              lineHighlight
              clipboard
              katex
              mermaid
              *ngIf="markdown"
              class="prose"
              [data]="markdown"
              [inline]="true"
            />
          </div>
        </div>
      </div>

      <!-- Add Images -->
      <div class="flex-col pb-6 border-b border-stone-300 space-y-5">
        <div class="flex py-2 my-2 ml-2">
          <svg
            class="size-10 stroke-gray-500"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1 1h14v14H1V1Zm5 8 2 2 5-5v7H3v-1l3-3Zm.5-2a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
            />
          </svg>
          <p class="ml-2 pt-1 text-3xl font-light text-gray-700">
            Images Upload
          </p>
        </div>

        <!-- Alert -->
        <div
          id="alert"
          *ngIf="!alertMessageGroup.imageFiles.isClosed"
          class="flex lg:w-1/3 md:w-1/2 items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:text-rose-600"
          role="alert"
        >
          <svg
            class="flex-shrink-0 w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <div class="ms-3 text-sm font-medium">
            {{ alertMessageGroup.imageFiles.message }}
          </div>
          <button
            type="button"
            (click)="alertMessageGroup.imageFiles.isClosed = true"
            class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:text-rose-600 dark:hover:bg-slate-50"
            aria-label="Close"
          >
            <span class="sr-only">Close</span>
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
          </button>
        </div>

        <!-- Image File(s) Upload -->
        <div
          class="sm:flex sm:flex-row sm:space-x-4 space-y-4 flex-col items-center justify-center w-full"
        >
          <label
            for="images-import"
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100"
          >
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg
                class="w-8 h-8 mb-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 16"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                />
              </svg>
              <div class="flex-col" *ngIf="!selectedImageFiles">
                <p class="mb-2 text-sm text-gray-500">
                  <span class="font-semibold">Click to upload</span> or drag and
                  drop
                </p>
                <p class="text-xs text-gray-500">
                  SVG, PNG, JPG or GIF (MAX. 800x400px).
                </p>
              </div>
              <div
                *ngIf="selectedImageFiles"
                class="flex-col items-center justify-center"
              >
                <p
                  *ngFor="let image of imageFilesCompact"
                  class="mb-2 text-sm text-gray-500 font-semibold"
                >
                  {{ image.name }}
                </p>
              </div>
            </div>
            <input
              type="file"
              multiple="true"
              (change)="onImageFilesSelected($event)"
              id="images-import"
              class="hidden"
            />
          </label>
          <div class="flex w-1/3 items-center justify-center">
            <div
              (click)="onClickDeleteSelectedImageFiles()"
              class="inline-flex cursor-pointer px-4 py-2 text-base font-semibold leading-6 text-slate-200 whitespace-no-wrap bg-rose-700 border border-red-700 rounded-xl shadow-lg hover:bg-rose-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
            >
              Delete Images
            </div>
          </div>
        </div>

        <!-- Image Files Preview -->
        <div class="flex flex-col space-y-2">
          <div class="flex font-extralight text-2xl pl-2 text-stone-700">
            Images Preview
          </div>
          <div
            class="w-full p-5 rounded-md bg-gradient-to-tl from-zinc-50 to-gray-100 overflow-auto items-center justify-center space {{
              imageFilesCompact.length > 0 ? 'h-96' : ''
            }}"
          >
            <div
              class="flex text-slate-500 p-2 font-light text-xl"
              *ngIf="!selectedImageFiles"
            >
              Preview of the Uploaded Images is displayed here
            </div>
            <img
              *ngFor="let image of imageFilesCompact"
              class="h-auto max-w-lg rounded-lg border-2 border-slate-200 shadow-lg mx-auto my-7"
              src="{{ image.dataUrl }}"
            />
          </div>
        </div>
      </div>

      <div class="w-2/3 pb-10 pt-5 flex items-center justify-center mx-auto">
        <button
          type="submit"
          class="relative inline-block px-4 py-2 font-medium group"
        >
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
          ></span>
          <span
            class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"
          ></span>
          <span class="relative text-black text-2xl group-hover:text-white"
            >Post</span
          >
        </button>
      </div>
    </form>
  </div>
  <div class="p-10"></div>
</div>
