<app-alert-modal
  [alertModal]="alertModal"
  [(isClosed)]="isAlertModalClosed"
></app-alert-modal>

<div
  class="flex h-full py-40 items-center justify-center"
  *ngIf="!isDataLoaded"
>
  <div role="status">
    <svg
      aria-hidden="true"
      class="inline size-20 text-gray-200 animate-spin dark:text-stone-400 fill-indigo-600"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"
      />
    </svg>
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div *ngIf="isDataLoaded">
  <div class="pt-4 flex sm:flex-row sm:items-center sm:justify-between">
    <div class="flex">
      <img
        class="my-4 ml-3 mr-2 w-7 h-7"
        src="/others/user-profile-small.png"
      />
      <h1 class="py-2 text-3xl font-extrabold">Profile</h1>
    </div>
    <button
      *ngIf="user.authProvider !== 'local'"
      type="button"
      class="ml-10 text-white {{
        user.authProvider === 'google'
          ? 'bg-slate-100 hover:bg-gray-900'
          : 'bg-slate-800 hover:bg-gray-950'
      }}  focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
    >
      <a
        *ngIf="user.authProvider === 'google'"
        href="https://myaccount.google.com/"
        target="_blank"
      >
        <svg
          class="size-6"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
        >
          <path
            fill="#FFC107"
            d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
          ></path>
          <path
            fill="#FF3D00"
            d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
          ></path>
          <path
            fill="#4CAF50"
            d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
          ></path>
          <path
            fill="#1976D2"
            d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
          ></path></svg
      ></a>
      <a
        *ngIf="user.authProvider === 'github'"
        href="https://github.com/"
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-6"
          viewBox="0 0 16 16"
        >
          <path
            fill="#DFDFDF"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          /></svg
      ></a>
    </button>
  </div>
  <hr class="mt-4 mb-8" />
  <div class="grid mx-auto mt-8 ml-3">
    <form [formGroup]="userForm" (ngSubmit)="onUpdateFormSubmitted()">
      <p class="py-2 mb-4 text-2xl font-light">Change avatar</p>
      <div
        class="flex flex-col items-center space-y-5 sm:flex-row sm:space-y-0 mb-10"
      >
        <img
          class="object-cover w-36 h-36 p-1 rounded-full ring-2 ring-indigo-300 dark:ring-indigo-200"
          src="{{ userProfilePicUri }}"
          alt="Bordered avatar"
        />

        <div class="flex flex-col space-y-5 sm:ml-20">
          <div class="w-full flex items-center justify-center">
            <label class="block">
              <span class="sr-only">Choose profile photo</span>
              <input
                #changeAvatarInput
                type="file"
                (change)="onImageSelected($event)"
                class="block w-full border border-spacing-2 border-blue-500 rounded-xl file:cursor-pointer text-base text-gray-500 file:me-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-base file:font-semibold file:bg-blue-600 file:text-white hover:file:bg-blue-700 file:disabled:opacity-50 file:disabled:pointer-events-none"
              />
            </label>
          </div>
          <div class="w-full flex items-center justify-center">
            <div
              (click)="onClickDeletePicture()"
              class="inline-flex cursor-pointer items-center justify-center px-4 py-2 text-base font-semibold leading-6 text-white whitespace-no-wrap bg-rose-700 border border-red-700 rounded-xl shadow-sm hover:bg-rose-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
            >
              Delete Picture
            </div>
          </div>
        </div>
      </div>

      <hr class="mt-3 mb-6" />

      <p class="py-2 mb-4 text-2xl font-light">Status</p>
      <div class="flex space-x-3">
        <label
          for="status"
          class="flex items-center cursor-pointer select-none text-white"
        >
          <div class="relative">
            <input
              id="status"
              type="checkbox"
              class="peer sr-only"
              formControlName="status"
            />
            <div
              class="h-5 transition rounded-full bg-rose-100 peer-checked:bg-[#9cff75] shadow-inner box bg-dark w-14 text-white"
            ></div>
            <div
              class="absolute left-0 flex items-center justify-center transition bg-rose-500 rounded-full dot shadow-switch-1 -top-1 h-7 w-7 dark:bg-dark-3 peer-checked:translate-x-full peer-checked:bg-[#5fdd46] text-dark peer-checked:text-white"
            >
              <span
                class="w-4 h-4 border border-current rounded-full bg-inherit active"
              ></span>
            </div>
          </div>
        </label>
        <span
          class="font-semibold text-base {{
            status?.value ? 'text-green-600' : 'text-rose-500'
          }}"
          >{{ status?.value ? "Online" : "Offline" }}</span
        >
      </div>

      <hr class="mt-6 mb-4" />

      <p class="py-2 mb-4 text-2xl font-light">Username</p>
      <div
        id="alert"
        class="{{
          isAlertClosed ? 'hidden' : 'flex'
        }} items-center p-4 mb-4 max-w-md text-rose-600 rounded-full bg-red-50"
        role="alert"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mr-2 h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
            clip-rule="evenodd"
          />
        </svg>
        <div class="ms-3 text-sm font-medium">{{ alertMessage }}</div>
        <button
          type="button"
          (click)="toggleAlert()"
          class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-rose-600 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:text-red-400 dark:hover:bg-slate-50"
          aria-label="Close"
        >
          <span class="sr-only">Close</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>
      <div class="space-y-3 grid gap-6 mb-3 md:grid-cols-2 w-2/3">
        <div class="relative">
          <input
            type="text"
            id="last_name"
            value="{{ username?.value }}"
            class="ps-11 bg-gray-50 border border-slate-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 transition duration-300 ease focus:outline-none focus:border-slate-500 hover:border-indigo-300 shadow-lg shadow-stone-200 ring-4 ring-transparent focus:ring-slate-100"
            placeholder="Type here..."
            formControlName="username"
            required
          />
          <div
            class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none"
          >
            <svg
              class="shrink-0 size-4 text-gray-500 dark:text-neutral-500"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
        </div>
      </div>

      <hr class="mt-6 mb-6" />

      <p class="py-2 mb-4 text-2xl font-light">Full Name</p>
      <div class="grid gap-6 mb-3 md:grid-cols-2 w-2/3">
        <div>
          <label
            for="first_name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >First name
            <span
              *ngIf="!firstName?.value && lastName?.value"
              class="text-bold text-rose-500 px-1"
              >*</span
            ></label
          >
          <input
            [readOnly]="user.authProvider !== 'local'"
            type="text"
            id="first_name"
            value="{{ firstName?.value }}"
            [ngStyle]="
              user.authProvider !== 'local' ? { cursor: 'not-allowed' } : {}
            "
            class="{{
              !firstName?.value && lastName?.value
                ? 'border-rose-600 focus:border-amber-600'
                : 'border-gray-300 focus:border-slate-500 hover:border-indigo-300'
            }} bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full p-2.5 transition duration-300 ease focus:outline-none shadow-lg shadow-stone-200 ring-4 ring-transparent focus:ring-slate-100"
            placeholder="Type here..."
            formControlName="firstName"
          />
        </div>
        <div>
          <label
            for="last_name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Last name<span
              *ngIf="firstName?.value && !lastName?.value"
              class="text-bold text-rose-500 px-1"
              >*</span
            ></label
          >

          <input
            [readOnly]="user.authProvider !== 'local'"
            type="text"
            id="last_name"
            aria-label="disabled input 2"
            value="{{ lastName?.value }}"
            [ngStyle]="
              user.authProvider !== 'local' ? { cursor: 'not-allowed' } : {}
            "
            class="{{
              firstName?.value && !lastName?.value
                ? 'border-rose-600 focus:border-amber-600'
                : 'border-gray-300 focus:border-slate-500 hover:border-indigo-300'
            }} bg-gray-50 border text-gray-900 text-sm rounded-lg block w-full p-2.5 transition duration-300 ease focus:outline-none shadow-lg shadow-stone-200 ring-4 ring-transparent focus:ring-slate-100"
            placeholder="Type here..."
            formControlName="lastName"
          />
        </div>
      </div>

      <p
        *ngIf="user.authProvider !== 'local'"
        class="inline-flex items-center rounded-full text-sm font-light bg-rose-100 px-4 py-1 text-rose-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mr-2 h-5 w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
            clip-rule="evenodd"
          />
        </svg>
        Name cannot be changed for accounts registered using external auth
        providers
      </p>

      <hr class="mt-6 mb-6" />

      <div class="mb-5 w-2/3">
        <label
          for="message"
          class="block mb-6 text-2xl font-light text-gray-900"
          >About</label
        >
        <textarea
          id="message"
          rows="4"
          class="block p-2.5 w-full bg-gray-50 border border-slate-300 text-gray-900 text-sm rounded-lg transition duration-300 ease focus:outline-none focus:border-slate-500 hover:border-indigo-300 shadow-lg shadow-stone-200 ring-4 ring-transparent focus:ring-slate-100"
          placeholder="What others see..."
          formControlName="about"
        ></textarea>
      </div>

      <div class="w-2/3 pb-10 pt-5 flex items-center justify-center">
        <button
          type="submit"
          class="relative inline-block px-4 py-2 font-medium group"
        >
          <span
            class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
          ></span>
          <span
            class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"
          ></span>
          <span class="relative text-black text-lg group-hover:text-white"
            >Save</span
          >
        </button>
      </div>
    </form>
  </div>
</div>
