<nav
  class="bg-gray-50 fixed w-full z-20 top-0 start-0 border-b border-blue-100"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-1"
  >
    <a href="" class="flex items-center space-x-3 rtl:space-x-revers ml-3">
      <img
        src="assets/byteblog.svg"
        class="size-10 rounded-sm"
        alt="Byteblog Logo"
      />
      <span
        class="font-bold font-serif text-2xl bg-gradient-to-r from-slate-900 to-indigo-800 inline-block text-transparent bg-clip-text mb-1"
        >Byteblog</span
      >
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="relative hidden md:block w-96 mr-10">
        <div
          class="absolute inset-y-1 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="size-5 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="text"
          id="search-navbar"
          class="block w-full mt-1 mb-1 p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white"
          placeholder="Search..."
        />
      </div>
    </div>
  </div>
</nav>

<div
  class="flex flex-col justify-center px-6 py-12 lg:px-8 bg-gradient-to-r from-indigo-100 to-blue-300"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-16">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        class="mx-auto size-20 w-auto"
        src="assets/byteblog.svg"
        alt="Byteblog"
      />
    </a>

    <h2
      class="mt-10 text-center text-3xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign in to your account
    </h2>

    <button
      type="button"
      class="w-full px-4 py-3 rounded-lg bg-[#24292F] mt-10 hover:bg-[#24292F]/90 mb-4"
    >
      <div class="relative flex items-center space-x-4 justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute left-0 right-1 size-6"
          viewBox="0 0 16 16"
        >
          <path
            fill="#DFDFDF"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          />
        </svg>
        <span class="block w-max font-semibold text-sm text-white sm:text-base"
          >Sign in with Github</span
        >
      </div>
    </button>

    <button
      type="button"
      class="w-full px-4 py-3 mb-2 rounded-lg hover:bg-gradient-to-tr focus:outline-none bg-gradient-to-r from-white to-cyan-200"
    >
      <div class="relative flex items-center space-x-4 justify-center">
        <svg
          class="absolute left-0 right-1 size-6"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
        >
          <path
            fill="#FFC107"
            d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
          ></path>
          <path
            fill="#FF3D00"
            d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
          ></path>
          <path
            fill="#4CAF50"
            d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
          ></path>
          <path
            fill="#1976D2"
            d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
          ></path>
        </svg>
        <span class="block w-max font-semibold text-sm sm:text-base"
          >Sign up with Google</span
        >
      </div>
    </button>
  </div>

  <div
    class="inline-flex items-center justify-center sm:mx-auto sm:w-full sm:max-w-sm my-1"
  >
    <span class="w-1/5 border-b dark:border-gray-50 lg:w-1/4"></span>
    <span class="px-2 font-medium text-gray-50">or</span>
    <span class="w-1/5 border-b dark:border-gray-50 lg:w-1/4"></span>
  </div>

  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" action="#" method="POST">
      <div>
        <label
          for="email"
          class="block pl-1 text-sm font-semibold leading-6 text-gray-900"
          >Email address</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block pl-1 text-sm font-semibold leading-6 text-gray-900"
            >Password</label
          >
          <div class="text-sm">
            <a
              href="#"
              class="font-semibold text-indigo-600 hover:text-indigo-500"
              >Forgot password?</a
            >
          </div>
        </div>
        <div class="mt-2">
          <input
            id="password"
            name="password"
            type="password"
            placeholder="••••••••"
            autocomplete="current-password"
            required
            class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <span class="">
            <i class="  "></i>
          </span>

          <!-- show password svg -->
          <!-- <svg
            aria-hidden="true"
            width="14"
            height="14"
            viewBox="0 0 14 14"
          >
            <path
              d="M3.52 7.38 1.58 9.26A12 12 0 0 1 0 7s2.63-5.14 7.05-5.14q.99.01 1.86.32L7.44 3.6 7 3.57a3.5 3.5 0 0 0-3.48 3.81M5.3 9.99c.5.28 1.1.44 1.71.44 1.94 0 3.5-1.53 3.5-3.43q-.01-.94-.47-1.72L8.7 6.6q.05.2.05.4a1.73 1.73 0 0 1-2.13 1.67zm6.23-6.19A13 13 0 0 1 14 7s-2.62 5.14-6.95 5.14A6 6 0 0 1 4 11.3L2.27 13l-1.4-1.36L11.9 1l1.23 1.2z"
            />
          </svg> -->
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Sign in
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Don't have an account?
      <a
        href="/sign-up"
        class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
        >Sign up</a
      >
    </p>
  </div>
</div>
