<app-navbar currentPage="activity" />
<div
  class="min-h-screen min-w-full bg-gradient-to-br from-slate-700 via-gray-600 to-stone-400"
>
  <div class="p-10"></div>
  <div class="flex-col p-5 w-full">
    <!-- Redirect to Add Blog Page -->
    <button
      (click)="redirectToPostBlog()"
      class="mx-auto my-8 flex group relative items-center bg-violet-900 justify-center overflow-hidden rounded-lg px-8 py-5 font-medium text-indigo-600 shadow-2xl shadow-violet-400 transition duration-400 hover:scale-105 hover:shadow-sm"
    >
      <span
        class="ease absolute left-0 top-0 -ml-3 -mt-10 h-40 w-40 rounded-full bg-red-500 blur-md transition-all duration-700"
      ></span>
      <span
        class="ease absolute inset-0 h-full w-full transition duration-700 group-hover:rotate-180"
      >
        <span
          class="absolute bottom-0 left-0 h-24 w-24 rounded-full bg-purple-500 blur-md"
        ></span>
        <span
          class="absolute bottom-0 right-0 h-24 w-24 rounded-full bg-blue-600 blur-md"
        ></span>
        <span
          class="absolute bottom-0 right-0 h-24 w-24 rounded-full bg-sky-500 blur-md"
        ></span>
        <span
          class="absolute bottom-0 right-0 h-24 w-24 rounded-full bg-green-500 blur-md"
        ></span>
        <span
          class="absolute bottom-0 right-0 -mr-10 h-24 w-24 rounded-full bg-orange-500 blur-md"
        ></span>
        <span
          class="absolute bottom-0 right-0 -mr-20 h-24 w-24 rounded-full bg-red-500 blur-md"
        ></span>
      </span>
      <span class="relative text-2xl text-violet-100 font-serif font-extrabold"
        >Post a new blog</span
      >
    </button>

    <!-- Blogs and Comments Section -->
    <section
      class="flex lg:mx-32 lg:flex-row md:mx-10 md:px-4 flex-col justify-center my-5 bg-gradient-to-b from-stone-200 via-slate-200 to-indigo-100 rounded-3xl shadow-lg"
    >
      <!-- Blogs -->
      <div
        class="flex flex-col py-8 px-4 max-w-screen-xl lg:px-6 xl:w-3/4 lg:w-4/5"
      >
        <div class="ml-2 max-w-screen-sm lg:mb-8 mb-4">
          <h2
            class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-indigo-800"
          >
            My Blogs
          </h2>
        </div>

        <!-- Handle Blogs not found -->
        <div
          *ngIf="!blogsFound"
          class="flex space-x-3 bg-gradient-to-tr from-gray-50 to-indigo-500 rounded-md text-2xl font-light p-3 pl-6"
        >
          <svg
            class="size-8 stroke-stone-700"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              d="M13.253 5.98 12 13.5l-1.253-7.52a1.27 1.27 0 1 1 2.506 0Z"
            />
            <circle cx="12" cy="19" r="1" stroke="#000" stroke-width="2" />
          </svg>
          Nothing here yet
        </div>

        <!-- Disolay all Blogs -->
        <div class="grid gap-8 lg:grid-cols-1">
          <app-blog-card
            *ngFor="let blog of blogs"
            [blog]="blog"
            [showAuthorAsYou]="true"
          />
        </div>
      </div>

      <!-- Comments -->
      <div
        class="flex-col py-8 px-4 ml-5 max-w-screen-xl lg:px-6 xl:w-1/2 lg:w-2/5 w-5/6 md:border-l border-opacity-25 border-indigo-400"
      >
        <div class="ml-2 max-w-screen-sm lg:mb-12 mb-6">
          <h2
            class="text-3xl lg:text-4xl tracking-tight font-extrabold text-stone-700"
          >
            My Comments
          </h2>
        </div>
        <div *ngFor="let comment of comments" class="flex my-5">
          <div class="flex-shrink-0 mr-3">
            <img
              class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10 shadow-xl"
              src="{{ profileImageUrl }}"
            />
          </div>
          <div
            class="flex-1 border shadow-lg rounded-md px-4 py-2 sm:px-6 sm:py-4 leading-relaxed bg-violet-50"
          >
            <div
              (click)="redirectToBlogPage(comment.blogHeadingUri!)"
              class="flex justify-between font-jetbrains"
            >
              <div
                class="flex space-x-1 text-blue-500 hover:stroke-blue-400 cursor-pointer"
              >
                <strong>Blog</strong>
                <svg
                  class="size-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path d="M0 0h24v24H0z" />
                    <path
                      stroke="#0C7FFF"
                      stroke-linecap="round"
                      stroke-width="2"
                      d="M20 12v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h6M16 4h3a1 1 0 0 1 1 1v3M11 13l8-8"
                    />
                  </g>
                </svg>
              </div>

              <span class="text-xs font-light text-gray-500">{{
                formatHumanReadableDate(comment.lastUpdated!)
              }}</span>
            </div>
            <p class="text-sm font-medium pt-2">
              {{ comment.comment }}
            </p>
            <!-- Replies -->
            <div
              *ngIf="comment.replyCommentAuthorProfileImageUris?.length! > 0"
              class="mt-4 flex items-center"
            >
              <div class="flex -space-x-2 mr-2">
                <img
                  *ngFor="
                    let profileImageUrl of comment.replyCommentAuthorProfileImageUris
                  "
                  class="rounded-full size-7 border border-white"
                  src="{{ profileImageUrl }}"
                />
              </div>
              <div class="text-sm text-gray-500 font-semibold">
                {{ comment.replyCommentAuthorProfileImageUris?.length }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
