/* You can add global styles to this file, and also import other style files */
@import "prismjs/themes/prism-okaidia.css";
@import "prismjs/plugins/toolbar/prism-toolbar.css";
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "prismjs/plugins/line-highlight/prism-line-highlight.css";
@import "katex/dist/katex.css";

@import "@fontsource/jetbrains-mono/400.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prism.js line numbers plugin */
.line-numbers .line-numbers-rows {
  border-right: transparent;
}

.line-numbers-rows > span:before {
  color: rgb(73, 90, 110);
}

/* Prism.js line toolbar plugin */
div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  color: #4c00ff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.5em 0.4em;
  margin-right: 0.2em;
  background: rgba(213, 235, 255, 0.9);
  border-radius: 0.2em;
}
