# jdbc and jpa config
spring:
    application:
        name: byteBlog_backend

    servlet:
        multipart:
            enabled: true
            max-file-size: 10MB
            max-request-size: 10MB

    jpa:
        open-in-view: true
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                jdbc:
                    lob:
                        non_contextual_creation: true

    # freemarker config - used for email templates
    freemarker:
        template-loader-path: classpath:/templates
        suffix: .ftl

    # Mail config
    mail:
        default-encoding: UTF-8
        host: smtp.gmail.com
        port: 587
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
        protocol: smtp
        test-connection: false

    # Spring security oauth2 config
    security:
        oauth2:
            client:
                registration:
                    google:
                        redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
                        scope: email, profile

                    github:
                        redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
                        scope: user, user:email

management:
    health:
        mail:
            enabled: false

# logging config
logging:
    level:
        root: INFO
        org:
            springframework:
                web: DEBUG
                security: DEBUG

# App Custom Properties
web:
    issuer: docker-spring-boot-container

    admin: shaneon_monte@byteblog.dev,polly_prissy_pants@byteblog.dev

    mail:
        destination-url: http://localhost:${client.port}/auth/verify
        verificationCodeExpirationSeconds: 1800 # 30 minutes

    jwt:
        accessTokenSecret: e6bcddc69a11952c32268df66ecd70e809de558a8c3c03e892e0ea9a9b7ef5458fc2dbfe1322b9cf42a8d089b86270e53b06c26437f96ba68c88bb360cdea1522f481974edbe9f4a6de4915d9193258ecd65b9f88ec1f31dee3d95b35245ca1a37edb36e299f5b3dc5c42f19327c4e3efdeee757b8cd783e4f0069e6ba4fc39898bbd3ae53d99f2ba926e811de094b939437133a4ee2a60d328858764054ba74a091ebbeb56afd437229eab7ab668b74fee7faf73862bee30298d4107fcb49e4202c1c33eaad820531d9c17d9a9a99b7bdaab9e1adfaff965745e5da975078883eb8e90d2acfa855df87f031d26cc2c784461e2aa39e8712aa1f8eafa49f1465a5c4ba5234c2cf2e7e4d19f2d7e9521a3a361a12ed892fba8e37fe436678383fcd65dfea9af9b328f5cc3ba6fdb96b7bfb43d5d7cc645083e5584fa8cc49cc84960b3b77bc934751f3b10adb1d9ca2c194829bee49a240e27b6ce9cda82a9b029e8e90708c5aa1de36896239552e1fa4d37ed6f6174776a2159bced3741d598229dd457654e60402012b72311011faccb75c5a4714a3177d0b865770bd2b877a41a0d246b24a416896720361d549b6347ec96a55dd677e55b7ec1636c395a4b34558427d86471cc0bd3033d2820c6da5656eb48f60c6975b4350eea8a4ecfb8010daf59d6433f996edb4310f79769ab4c79890108b3b3b379e84fc9641c3b959
        refreshTokenSecret: 7c36e513db56022870a0f3d2dbccc94b35ac3bfa0dba4c0d13f3c808d293869104a420233b986539725ef204a214b8395bde90732047ce26d5fb6e369e9baaf21c517bf1d9c429a52c7a5aa591522f02ff4a43f511711958a3ba66550462bcbaa1fe1bc31e6eae7801bdae001300be9ebcef95a3d93d4b202f468eb3a234947accc8ce90d36d3c821f28afb32d71013e1b23bea054ce955ca827153947fb0e6baf32c66c2534b50885846f35b0fcd4adc00bef81bef64dec65616b5d30f8734f1471a52a2bbafd6361874eaa1b0ca2845104226454670843fc804f7265ea1a3c20eaabb189108017189849ec424f11513b0f0ef94145b9c4e9364370131ffefcafeefce884a55569c48034e58fac49920512c9d52e876637459e242b88dcbec7b5c5093b5000ff20b6de50c3a5887098fce0daa7dab6c5ea4877af34f02dd2169d344317d1d477fbd5bf7d2b4b8b0f4858bc9b215ef0f0c7ad509436edc7625b300d429f8287b698c042f112ed79517f197919e8379b211fc9e4bb747d10049c7f4f4de04092070be7908d602b8be882f0a7940cb79aa152a6279520c832b2c369f031226c27c634a5ddefd106d023dce4cd4e5e18c52d75258b87e68514d932fb1b7870a5659ee4b70c9083a23e91cfa67dbcef79b62c1ea5eb70ec8e7f3c9c63692e3fa614c25dc863bf40fdf01d35e3849f645d8d83e81130163664ec0c20
        isSecretKeyBase64Encoded: false
        accessTokenDurationMillis: 1800000 # 1/2 hour
        refreshTokenDurationMillis: 7200000 # 2 hours
        shortLivedMillis: 120000 # 2 minutes

    cors:
        allowed-origins: http://localhost:${server.port},http://localhost:${client.port},http://127.0.0.1:${client.port}
        allowed-methods: GET, POST, PUT, DELETE
        allowed-headers: "*"
        exposed-headers: "*"

    oauth2:
        authorizedRedirectOrigins: http://localhost:${server.port},http://localhost:${client.port}
        cookieExpireSeconds: 120

    defaults:
        defaultPageStart: 0
        defaultPageSize: 50
